In [1]:
import pandas as pd
import numpy as np

In [9]:
df=pd.DataFrame({'Attendance': {0: 60, 1: np.nan, 2: 80,3: 78,4: 95},
                        'Name': {0: 'Olivia', 1: 'John', 2: 'Laura',3: 'Ben',4: 'Kevin'},
                        'Obtained Marks': {0: np.nan, 1: 75, 2: 82, 3: np.nan, 4: 45}})
print(df)

   Attendance    Name  Obtained Marks
0        60.0  Olivia             NaN
1         NaN    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             NaN
4        95.0   Kevin            45.0

In [10]:
df.notnull()

   Attendance  Name  Obtained Marks
0        True  True           False
1       False  True            True
2        True  True            True
3        True  True           False
4        True  True            True

In [11]:
df['Obtained Marks'].notnull()

0    False
1     True
2     True
3    False
4     True
Name: Obtained Marks, dtype: bool

In [12]:
df[ df['Obtained Marks'].notnull() ]

   Attendance   Name  Obtained Marks
1         NaN   John            75.0
2        80.0  Laura            82.0
4        95.0  Kevin            45.0

In [15]:
df

   Attendance    Name  Obtained Marks
0        60.0  Olivia             NaN
1         NaN    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             NaN
4        95.0   Kevin            45.0

In [13]:
df.isnull()

   Attendance   Name  Obtained Marks
0       False  False            True
1        True  False           False
2       False  False           False
3       False  False            True
4       False  False           False

In [14]:
df.notnull()

   Attendance  Name  Obtained Marks
0        True  True           False
1       False  True            True
2        True  True            True
3        True  True           False
4        True  True            True

In [16]:
df

   Attendance    Name  Obtained Marks
0        60.0  Olivia             NaN
1         NaN    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             NaN
4        95.0   Kevin            45.0

In [17]:
df['Attendance'].isnull()

0    False
1     True
2    False
3    False
4    False
Name: Attendance, dtype: bool

In [18]:
df[df['Attendance'].isnull()]

   Attendance  Name  Obtained Marks
1         NaN  John            75.0

In [19]:
df[df['Obtained Marks'].isnull()]

   Attendance    Name  Obtained Marks
0        60.0  Olivia             NaN
3        78.0     Ben             NaN

In [20]:
df[df['Obtained Marks'].notnull()]

   Attendance   Name  Obtained Marks
1         NaN   John            75.0
2        80.0  Laura            82.0
4        95.0  Kevin            45.0

In [21]:
df.describe()

       Attendance  Obtained Marks
count    4.000000        3.000000
mean    78.250000       67.333333
std     14.338177       19.655364
min     60.000000       45.000000
25%     73.500000       60.000000
50%     79.000000       75.000000
75%     83.750000       78.500000
max     95.000000       82.000000

In [22]:
df

   Attendance    Name  Obtained Marks
0        60.0  Olivia             NaN
1         NaN    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             NaN
4        95.0   Kevin            45.0

In [25]:
df.fillna(0)

   Attendance    Name  Obtained Marks
0        60.0  Olivia             0.0
1         0.0    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             0.0
4        95.0   Kevin            45.0

In [26]:
df

   Attendance    Name  Obtained Marks
0        60.0  Olivia             NaN
1         NaN    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             NaN
4        95.0   Kevin            45.0

In [34]:
df.fillna({ "Attendance" : -1 , "Obtained Marks" : 0 })

   Attendance    Name  Obtained Marks
0        60.0  Olivia             0.0
1        -1.0    John            75.0
2        80.0   Laura            82.0
3        78.0     Ben             0.0
4        95.0   Kevin            45.0

In [41]:
df = pd.DataFrame(np.random.randn(7, 3))
print(df)

          0         1         2
0 -2.694944  1.240660 -0.722178
1 -0.516668  0.036695 -1.266518
2 -0.116956  0.350118 -1.045376
3  1.299401 -0.124882 -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [42]:
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

          0         1         2
0 -2.694944       NaN       NaN
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [40]:
df.fillna(method='ffill')

          0         1         2
0  0.744762 -2.249097 -2.057332
1  0.247456  0.942716 -1.366282
2  1.196052 -1.711520 -1.366282
3  1.326700 -0.746737 -1.366282
4 -0.971165 -0.746737 -1.366282
5 -0.310505 -0.746737 -1.366282
6  0.186587 -0.746737 -1.366282

In [43]:
df.fillna(method='bfill')

          0         1         2
0 -2.694944 -1.495732 -1.045376
1 -0.516668 -1.495732 -1.045376
2 -0.116956 -1.495732 -1.045376
3  1.299401 -1.495732 -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [44]:
df

          0         1         2
0 -2.694944       NaN       NaN
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [45]:
df.fillna(method='bfill', limit = 2)

          0         1         2
0 -2.694944       NaN -1.045376
1 -0.516668       NaN -1.045376
2 -0.116956 -1.495732 -1.045376
3  1.299401 -1.495732 -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [46]:
df

          0         1         2
0 -2.694944       NaN       NaN
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [47]:
df.dropna()
#df.dropna(how="any")

          0         1         2
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [48]:
df

          0         1         2
0 -2.694944       NaN       NaN
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [49]:
df.dropna(how="all")

          0         1         2
0 -2.694944       NaN       NaN
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [50]:
df.iloc[0,0] = np.nan
df

          0         1         2
0       NaN       NaN       NaN
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [51]:
df.dropna(how="all")

          0         1         2
1 -0.516668       NaN       NaN
2 -0.116956       NaN -1.045376
3  1.299401       NaN -1.499804
4  0.798407 -1.495732  0.622383
5 -0.107797  0.098317 -0.882512
6  0.030742 -0.176143  0.247195

In [55]:
data = pd.DataFrame({'k1': ['one', 'two', 'one', 'two', 'one', 'two', 'two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [56]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [59]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [60]:
data['k3'] = range(7)
data

    k1  k2  k3
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [61]:
data.drop_duplicates()

    k1  k2  k3
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [64]:
data.duplicated(['k1'])

0    False
1    False
2     True
3     True
4     True
5     True
6     True
dtype: bool

In [63]:
data.duplicated(['k1', 'k2'])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [65]:
data.drop_duplicates(['k1'])

    k1  k2  k3
0  one   1   0
1  two   1   1

In [66]:
data.drop_duplicates(['k1', 'k2']) #keep='first'

    k1  k2  k3
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

In [68]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  k3
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [69]:
#map, lambda

nums = [1,2,3,4]

squared = []

for num in nums :
  squared.append(num ** 2)

print(squared)

[1, 4, 9, 16]

In [70]:
def square_num(num):
  return (num ** 2)

In [72]:
m = map(square_num, nums)
#print(m)
output = list(m)
print(output)

[1, 4, 9, 16]

In [73]:
m = map(lambda x : (x**2), nums)
output = list(m)
print(output)

[1, 4, 9, 16]

In [ ]:
#list-comprehension

In [91]:
nums = [1,2,3,4]

squared = []

for num in nums :
  if(num % 2 == 0):
    squared.append(num ** 2)
  else:
    squared.append(num)

print(squared)

[1, 4, 3, 16]

In [87]:
#list-comprehension

squared = []
nums = [1,2,3,4]

squared = [  (val**2) for val in nums  ]
print(squared)

[1, 4, 9, 16]

In [89]:
squared = []
nums = [1,2,3,4]

squared = [  (val**2) for val in nums  if (val % 2 == 0)]
print(squared)

[4, 16]

In [93]:
squared = []
nums = [1,2,3,4]

squared = [  (val**2) if (val % 2 == 0) else (val**3) for val in nums  ]
print(squared)

[1, 4, 27, 16]

In [94]:
#map
nums = [1,2,3,4]
m = map(lambda x : (x**2), nums)
output = list(m)
print(output)

[1, 4, 9, 16]

In [96]:
#filter
nums = [1,2,3,4]

f = filter(lambda x : x%2 != 0,  nums)
#print(f)
output = list(f)
print(output)

[1, 3]

In [98]:
#list-comprehension

my_customers = ['Sam', 'Mark', None, 'Sara', None, 'Tim', 'Kim']

new_list = [ c for c in my_customers if(c is not None)]
print(new_list)

['Sam', 'Mark', 'Sara', 'Tim', 'Kim']

In [99]:
my_customers = ['Sam', 'Mark', None, 'Sara', None, 'Tim', 'Kim']

new_list = [ c if(c is not None) else '' for c in my_customers ]
print(new_list)

['Sam', 'Mark', '', 'Sara', '', 'Tim', 'Kim']

In [100]:
#map w.r.t. dictionary

data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','Pastrami', 'corned beef', 'Bacon','pastrami', 'honey ham', 'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [102]:
meat_to_animal = {
 'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'
}
print(meat_to_animal)

{'bacon': 'pig', 'pulled pork': 'pig', 'pastrami': 'cow', 'corned beef': 'cow', 'honey ham': 'pig', 'nova lox': 'salmon'}

In [104]:
lower_food = data['food'].str.lower()
print(lower_food)
print(type(lower_food))

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
<class 'pandas.core.series.Series'>

In [105]:
data['animal'] = lower_food.map(meat_to_animal)
print(data)

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
#replace

In [106]:
 data = pd.Series([1., -999., 2., -999., -1000., 3.])
 data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [108]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [109]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [110]:
data.replace([-999, -1000], [999, 1000])

0       1.0
1     999.0
2       2.0
3     999.0
4    1000.0
5       3.0
dtype: float64

In [111]:
data.replace({-999 : 999, -1000 : 1000})

0       1.0
1     999.0
2       2.0
3     999.0
4    1000.0
5       3.0
dtype: float64

In [ ]:
#rename

In [112]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), index=['Ohio', 'Colorado', 'New York'], columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [113]:
data.index = data.index.map( lambda x : x[:3].upper() )
print(data)

     one  two  three  four
OHI    0    1      2     3
COL    4    5      6     7
NEW    8    9     10    11

In [114]:
data.rename(index = str.lower, columns=str.upper)

     ONE  TWO  THREE  FOUR
ohi    0    1      2     3
col    4    5      6     7
new    8    9     10    11

In [120]:
data

     one  two  three  four
OHI    0    1      2     3
COL    4    5      6     7
NEW    8    9     10    11

In [123]:
data.rename(index = {'COL' : 'indiana'}, columns = {'three' : '3rd'}, inplace=True)

In [124]:
data

         one  two  3rd  four
OHI        0    1    2     3
indiana    4    5    6     7
NEW        8    9   10    11

In [2]:
#binning
import pandas as pd

In [4]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

bins = [18, 25, 35, 60, 100]

people = pd.cut(ages, bins)

print(people)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [5]:
print(people.codes)

[0 0 0 1 0 0 2 1 3 2 2 1]

In [6]:
print(people.categories)

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [9]:
print(type(people))
pd.value_counts(people)

<class 'pandas.core.arrays.categorical.Categorical'>

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [11]:
#outliers
import numpy as np

In [45]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.head()

          0         1         2         3
0 -0.293030  1.274153 -1.026829 -1.182120
1  1.195295  1.043089  1.721698  1.323116
2 -0.721249  0.631291 -0.382822 -0.132226
3 -1.157468 -0.468169  0.466972  1.367565
4 -0.389259 -1.034496 -0.472262 -0.235009

In [15]:
col2 = data[2]
col2

0      1.895806
1      0.131773
2     -1.324791
3     -0.635948
4     -1.283785
         ...
995   -1.211904
996   -1.687070
997   -0.380803
998    0.599415
999   -1.752271
Name: 2, Length: 1000, dtype: float64

In [23]:
col2[col2 > 2.5]

219    2.521763
247    2.867977
504    2.693920
564    2.534277
859    2.592074
990    2.540982
Name: 2, dtype: float64

In [ ]:
# valid values : (-2.5 to 2.5)  ; 
# all other values : outliers

In [24]:
col2[ np.abs(col2) > 2.5]

38    -2.893455
111   -2.565225
165   -2.987416
219    2.521763
247    2.867977
340   -2.861915
394   -2.634076
504    2.693920
559   -2.535091
564    2.534277
698   -2.817163
746   -2.588054
802   -3.510994
859    2.592074
990    2.540982
Name: 2, dtype: float64

In [38]:
data[ np.abs(data) > 2.5]        #all - all the values in the row should be above the threshold

      0   1   2   3
0   NaN NaN NaN NaN
1   NaN NaN NaN NaN
2   NaN NaN NaN NaN
3   NaN NaN NaN NaN
4   NaN NaN NaN NaN
..   ..  ..  ..  ..
995 NaN NaN NaN NaN
996 NaN NaN NaN NaN
997 NaN NaN NaN NaN
998 NaN NaN NaN NaN
999 NaN NaN NaN NaN

[1000 rows x 4 columns]

In [41]:
data[ ( np.abs(data) > 2.5).any(1) ]     #any - atleast one value

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [40]:
#fix the outliers (cap the outliers) to some threshold value 

data[ np.abs(data) > 2.5] = np.sign(data) * 2.5

In [50]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.shape

(1000, 4)

In [55]:
a = np.abs(data) > 2.5
print(a.shape)

b = a.any(1)
print(b.shape)

c = data[b]
print(c.shape)

(1000, 4)
(1000,)
(47, 4)

In [56]:
print(c)

            0         1         2         3
14  -1.797670 -2.620127  1.126088  0.349820
22   1.059248 -1.135829 -2.861043 -0.716100
73  -0.759629  0.787946 -2.543813 -1.069009
75  -2.656950 -1.734869 -0.612953  0.144137
95  -0.489996  2.753139  0.102249  0.537720
133  2.540516  0.074419 -0.938269 -0.061451
139 -2.578860  1.177187  0.326734  0.864287
149  2.619504 -1.011475  0.293505 -0.495683
177 -0.584849 -0.320459  3.302480  1.023221
186 -0.216292  0.328749 -3.120898  0.111312
197 -1.101611 -0.155316 -2.567515 -1.683127
199 -0.486713 -2.574278  0.884470  1.092205
222  0.408428 -0.904707 -0.167728  2.691838
254  1.224423  0.198858  2.666025 -1.000065
269 -0.481560 -2.511179 -1.407474  0.562806
274 -3.207353 -1.125813 -0.894177 -0.312669
311  0.425913  0.410391  2.704490  0.933345
319 -0.675548 -2.666129  0.725005  0.428213
355  2.533684 -0.652090  0.997799  1.318669
377  1.447437  2.574161 -2.203788  0.139856
407  1.012447 -0.253824 -0.310901  2.588506
433 -1.117176  0.592187 -1.122159 -3.126832
446  0.953255 -0.381604 -2.898845 -0.359765
451 -1.328991  1.101679 -2.502505  1.628448
464 -0.826293  0.030349  0.308587 -2.798857
502 -0.502580  0.697634  0.878769  3.907688
518 -0.825367  2.667275 -0.531072  1.423804
525  2.970004  0.009222 -1.662864  0.185175
538 -1.749349 -2.767178  0.650452 -0.968154
543  0.420537  1.779369 -1.148166 -2.693611
583 -0.190162  3.427612  0.820409 -0.811762
588 -2.578901  1.786128  0.106023  0.037806
597 -0.463300  1.130332 -0.708274  3.118173
612  1.061960 -0.585745  1.318572  2.552056
613  3.016863  0.753811  1.001285 -1.479849
648  1.070444 -2.578938 -0.324533 -0.326913
696  3.141620 -0.800284  0.704751  0.230531
795 -0.175005  1.491335  2.634077 -0.600874
804  2.648811  0.405403 -1.242844  0.742906
841  0.178205 -0.857723  2.592764  0.052741
846 -3.028434  0.749685 -0.328947 -1.398832
856 -0.420857  0.261126  0.932870 -2.953277
871 -4.578276  0.467581  0.852704  2.285567
872 -2.998496  0.623976  1.814256 -0.775784
916  0.095790 -2.645121 -2.015958 -0.635267
976 -1.562255  2.503395 -1.608958  1.369672
990  0.407940 -1.687056  0.328082 -2.565358

In [58]:
records = { 
        'Age' : [22, 20, 21, 19, 18, 22], 
            
        'Stream' : ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'], 
            
      'Percentage' : [90, 90, 96, 75, 70, 80] 
}
# create a dataframe 
df = pd.DataFrame(records,  columns = ['Age', 'Stream', 'Percentage']) 
print(df)

   Age    Stream  Percentage
0   22      Math          90
1   20  Commerce          90
2   21   Science          96
3   19      Math          75
4   18      Math          70
5   22   Science          80

In [59]:
b = df['Stream'].isin(['Math', 'Science'])

print(df[b])

   Age   Stream  Percentage
0   22     Math          90
2   21  Science          96
3   19     Math          75
4   18     Math          70
5   22  Science          80